! ROFI
! Configuration
rofi.bw: 0
rofi.lines: 30
rofi.width: 455
rofi.columns: 1
rofi.padding: 28
rofi.location: 8

rofi.fuzzy: false
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: none

rofi.font: Operator Mono Lig Book 12
! Scheme
rofi.color-window: #2F343F, #EBDBB2
rofi.color-normal: #2F343F, #EBDBB2, #2F343F, #EBDBB2, #2F343F
rofi.color-active: #2F343F, #EBDBB2, #2F343F, #EBDBB2, #2F343F
rofi-color-urgent: #2F343F, #EBDBB2, #2F343F, #EBDBB2, #2F343F

! URXVT
! Configuration
URxvt.font: xft:Operator Mono Lig Book:size=12,style=regular:antialias=true
URxvt.scrollBar: false
! Scheme
URxvt*background: #1E1F28
URxvt*foreground: #EBECE6
URxvt*cursorColor: #E4E4E4

URxvt*color0: #000000
URxvt*color1: #FB4245
URxvt*color2: #50FA7B
URxvt*color3: #F0FA8B
URxvt*color4: #49B9FE
URxvt*color5: #FB4CB3
URxvt*color6: #8BE9FD
URxvt*color7: #EDEDEC
URxvt*color8: #555555
URxvt*color9: #FB4245
URxvt*color10: #50FA7B
URxvt*color11: #F0FA8B
URxvt*color12: #49B9FE
URxvt*color13: #FB4CB3
URxvt*color14: #8BE9FD
URxvt*color15: #EDEDEC
