! ROFI
! Configuration
rofi.bw: 0
rofi.lines: 30
rofi.width: 455
rofi.columns: 1
rofi.padding: 28
rofi.location: 8

rofi.fuzzy: false
rofi.show-icons: true
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: none
rofi.modi: drun,run,window,ssh

rofi.font: Ubuntu Mono 12
rofi.color-window: #4a575d, #4a575d, #AAEAE2
rofi.color-normal: #4a575d, #e1eaea, #4a575d, #AAEAE2, #4a575d
rofi.color-active: #4a575d, #e1eaea, #4a575d, #AAEAE2, #4a575d
rofi.color-urgent: #4a575d, #C3B3C6, #4a575d, #C3B3C6, #e1eaea

! URXVT
! Configuration
URxvt.font: xft:Source Code Variable:pixelsize=13,style=regular:antialias=true
URxvt.scrollBar: false
! Scheme
*foreground: #e1eaea
*background: [100]#4a575d
*borderColor: [100]#4a575d
*cursorColor: #e1eaea
*color0: #4a575d
*color1: #C3B3C6
*color2: #AAEAE2
*color3: #CFD2D2
*color4: #E9CFD2
*color5: #EFE8D0
*color6: #DCDEE0
*color7: #e1eaea
*color8: #9da3a3
*color9: #C3B3C6
*color10: #AAEAE2
*color11: #CFD2D2
*color12: #E9CFD2
*color13: #EFE8D0
*color14: #DCDEE0
*color15: #e1eaea
*color66: #4a575d
