[Unit]
Description=i3lock with suspend/sleep
Before=sleep.target

[Service]
User=dreamforce
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/xflock4

[Install]
WantedBy=sleep.target
