[Unit]
Description=i3lock with suspend/sleep
Before=sleep.target

[Service]
User=dreamforce
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/env i3color

[Install]
WantedBy=sleep.target
