/* custom font */
@font-face {
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  src: url('Arvo-Regular.ttf') format('truetype')
    url('../fonts/Arvo-Regular.ttf')
}

@font-face {
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  src: url('Arvo-Bold.ttf') format('truetype')
    url('../fonts/Arvo-Bold.ttf')
}

@font-face {
  font-family: Arvo;
  font-style: italic;
  font-weight: normal;
  src: url('Arvo-Italic.ttf') format('truetype')
    url('../fonts/Arvo-Italic.ttf')
}

@font-face {
  font-family: Arvo;
  font-style: italic;
  font-weight: bold;
  src: url('Arvo-BoldItalic') format('truetype')
    url('../fonts/Arvo-BoldItalic.ttf')
}

body {
  font-family: 'Arvo', sans-serif;
}

/* hiding workaround */
section > h1 { display: none; }

/* This defines styles and classes used in the book */
body { margin: 5%; text-align: justify; font-size: medium; }
code { font-family: monospace; }
h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
