! ROFI
! Configuration
rofi.bw: 0
rofi.lines: 30
rofi.width: 455
rofi.columns: 1
rofi.padding: 28
rofi.location: 8

rofi.fuzzy: false
rofi.show-icons: true
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: none
rofi.modi: drun,run,window,ssh

rofi.font: Ubuntu Mono 12
rofi.color-normal: #FF0D1012, #9e99aa,   #FF0D1012, #FF51484F, #0D1012
rofi.color-active: #FF0D1012, #9e99aa,   #FF0D1012, #FF51484F, #0D1012
rofi.color-urgent: #FF0D1012, #FF51484F, #FF0D1012, #FF51484F, #9e99aa
rofi.color-window: #FF0D1012, #FF0D1012, #FF0D1012

! URXVT
! Configuration
URxvt.font: xft:Source Code Pro:size=12,style=regular:antialias=true
URxvt.scrollBar: false
! Scheme
*background: #0D1012
*foreground: #9e99aa
*color0: #0D1012
*color1: #524447
*color2: #51484F
*color3: #6B575D
*color4: #AB5E51
*color5: #966A65
*color6: #BB8D75
*color7: #9e99aa
*color8: #6e6b76
*color9: #524447
*color10: #51484F
*color11: #6B575D
*color12: #AB5E51
*color13: #966A65
*color14: #BB8D75
*color15: #9e99aa
