! ROFI
! Configuration
rofi.bw: 0
rofi.lines: 30
rofi.width: 455
rofi.columns: 1
rofi.padding: 28
rofi.location: 8

rofi.fuzzy: false
rofi.show-icons: true
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: none
rofi.modi: drun,run,window,ssh

rofi.font: Operator Mono 12
! Scheme
rofi.color-window: #2F343F, #EBDBB2
rofi.color-normal: #2F343F, #EBDBB2, #2F343F, #EBDBB2, #2F343F
rofi.color-active: #2F343F, #EBDBB2, #2F343F, #EBDBB2, #2F343F
rofi-color-urgent: #2F343F, #EBDBB2, #2F343F, #EBDBB2, #2F343F

! URXVT
! Configuration
URxvt.font: xft:Operator Mono:size=12,style=regular:antialias=true
URxvt.scrollBar: false
! Scheme
URxvt*background: #1D1F21
URxvt*foreground: #C5C8C6
URxvt*color0: #282A2E
URxvt*color1: #A54242
URxvt*color2: #8C9440
URxvt*color3: #DE935F
URxvt*color4: #5F819D
URxvt*color5: #85678F
URxvt*color6: #5E8D87
URxvt*color7: #707880
URxvt*color8: #373B41
URxvt*color9: #CC6666
URxvt*color10: #B5BD68
URxvt*color11: #F0C674
URxvt*color12: #81A2BE
URxvt*color13: #B294BB
URxvt*color14: #8ABEB7
URxvt*color15: #C5C8C6
